body {
    background-image: url('https://res.cloudinary.com/yhcvjnf8/image/upload/v1788290645/fondo_comic.webp'); 
    
    background-repeat: no-repeat; 
    
    background-size: cover; 
    
    background-position: center; 
    
    background-attachment: fixed; 
    
    background-color: #cccccc; 
}
